* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

.h2 {
    width: 100%;
    height: 900px;
    background-color: rgb(72, 71, 71);
}

.h5 {
    position: absolute;
    top: 50px;
    margin-left: 100px;
}

.p4{
    position: absolute;
    top: 55px;
    margin-left: 450px;
    
}

.alar {
    color: aliceblue;
    position: absolute;
    top: 55px;
    margin-left: 600px;
}

.p9 {
    color: aliceblue;
  position: absolute;
  top: 55px;
  margin-left: 730px;
}

.p7 {
    color: aliceblue;
    position: absolute;
    top: 55px;
    margin-left: 860px;
}

.p0 {
  position: absolute;
  top: 40px;
  margin-left: 1050px;
}

.p6 {
    position: absolute;
    top: 200px;
    margin-left: 75px;
}

.p2 {
    position: absolute;
    top: 150px;
    margin-left: 800px;
}

.p3 {
    width: 100%;
    height: 900px;
    background-color: rgb(2, 2, 14);
}

.p5 {
    display: flex;
    align-items: center;
    justify-content: center;
    color: aliceblue;
    font-size: 20px;
}

.pe {
    position: absolute;
    margin-left: 60px;
    color: aliceblue;
}

.h6 {
    position: absolute;
    margin-left: 50px;
    margin-top: 150px;
}

.h7 {
    position: absolute;
    margin-left: 350px;
    margin-top: 150px;
}

.h8 {
    position: absolute;
    margin-left: 700px;
    margin-top: 150px;
}

.h4 {
    position: absolute;
    margin-left: 1050px;
    margin-top: 150px;
}

.boshlanish {
    width: 100%;
    height: 900px;
    background-color: rgb(3, 29, 51);
}

.h20 {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 70px;
}

.h21 {
    position: absolute;
    margin-left: 60px;
    margin-top: 300px;
}

.h22 {
    position: absolute;
    margin-left: 350px;
    margin-top: 300px;
}

.h23 {
    position: absolute;
    margin-left: 700px;
    margin-top: 300px;
}

.h24 {
    position: absolute;
    margin-left: 1050px;
    margin-top: 300px;
}

.h25 {
    width: 100%;
    height: 1000px;
    background-color: rgb(8, 0, 32);
}

.h26 {
    position: absolute;
    margin-left: 100px;
    margin-top: 50px;
}

.h27 {
    position: absolute;
    margin-left: 500px;
    margin-top: 50px;
}

.h28 {
    position: absolute;
    margin-left: 930px;
    margin-top: 180px;
}

.h29 {
    position: absolute;
    margin-left: 150px;
    margin-top: 130px;
}

.h30 {
    position: absolute;
    margin-left: 550px;
    margin-top: 130px;
}

.h31 {
    position: absolute;
    margin-left: 100px;
    margin-top: 350px;
}

.h32 {
    position: absolute;
    margin-left: 150px;
    margin-top: 430px;
}

.h33 {
    position: absolute;
    margin-left: 760px;
    margin-top: 350px;
}

.h34 {
    position: absolute;
    margin-left: 790px;
    margin-top: 430px;
}

.h35 {
    position: absolute;
    margin-left: 100px;
    margin-top: 650px;
}

.h36 {
    position: absolute;
    margin-left: 150px;
    margin-top: 730px;
}

.h37 {
    position: absolute;
    margin-left: 600px;
    margin-top: 650px;
}

.h38 {
    position: absolute;
    margin-left: 650px;
    margin-top: 730px;
}

.h39 {
    width: 100%;
    height: 500px;
    background-color: rgb(7, 1, 48)     ;
}

.h40 {
    position: absolute;
    margin-top: 50px;
    margin-left: 100px;
}

.h41 {
    width: 60%;
    height: 1000px;
    background-color: rgb(1, 20, 48);
}

.h42 {
    position: absolute;
    margin-top: 50px;
    margin-left: 160px;
}

.h43 {
    position: absolute;
    margin-top: 100px;
    margin-left: 300px;
}

.h44 {
    position: absolute;
    margin-top: 500px;
    margin-left: 300px;
}

.h45 {
    width: 60%;
    height: 900px;
    background-color: rgb(0, 15, 31);
}

.h46 {
    position: absolute;
margin-left: 350px;
    color: aliceblue;
    font-size: 20px;
}

.h47 {
    position: absolute;
    margin-left: 200px;
    margin-top: 70px;
}

.h48 {
    position: absolute;
    margin-left: 200px;
    margin-top: 180px;
}

.h49 {
    width: 60%;
    height: 900px;
    background-color: rgb(0, 0, 22);
}

.h50 {
    position: absolute;
    margin-left: 230px;
    margin-top: 30px;
}

.h51 {
    position: absolute;
    margin-left: 230px;
    margin-top: 200px;
}

.h52 {
    position: absolute;
    margin-top: 530px;
    margin-left: 250px;
}

.h53 {
    width: 60%;
    height: 1000px;
     background-color: rgb(0, 0, 42);
}

.h54 {
    position: absolute;
    margin-left: 220px;
    margin-top: 30px;
}

.h55 {
    position: absolute;
    margin-left: 250px;
    margin-top: 680px;
}